#root {
    max-width: 100%;
}

.card {
    padding: 2em;
}

.cards {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 2px, dashed, white;
    display: flex;
    flex-wrap: wrap;
}


@container playingcard (true) {
    .content {
        color: blue;
        background-color: grey;
    }
}

