.table{
    display: flex;
    padding: 16px;
    border: 1px red dashed;
    background-color: darkgreen;
    min-width: 400px;
    min-height: 125px;
    flex-wrap: wrap;
}

.game {
    height: 710px;
    width: 100%;
    margin: 0 auto;
    border: 2px, dashed, white;
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: max-content; 
}

.playerHand {
    display: flex;
    padding: 16px;
    border: 1px green dashed;
    background-color: maroon;
    min-width: 142px;
    min-height: 95px;
    margin-right: 48px;
    flex-wrap: wrap;
}

.playerPile {
    display: flex;
    padding: 16px;
    border: 1px green dashed;
    background-color: sienna;
    min-width: 60px;
    min-height: 95px;
    flex-wrap: wrap;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}

table {
    align-self: center;
    border: 2px solid rgb(140 140 140);
    max-height: 100px;
    font-size: 10px;
    width: auto;
}

button {
    margin: 8px;
}

td:last-of-type {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  white-space: nowrap;
}

h1 {
    grid-column: 1/ -1;
}
