#root {
    max-width: 940px;
}

.card {
    padding: 2em;
}

.cards {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 2px, dashed, white;
    display: flex;
    flex-wrap: wrap;
}

.game {
    height: 800px;
    width: 90%;
    margin: 0 auto;
    border: 2px, dashed, white;
    display: flex;
    flex-direction: column;
}

.playingCard {
    max-width: 100px;
    max-height: 140px;
    border: 1px dashed blueviolet;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    container: playingcard/ normal;
}

@container playingcard (true) {
    .content {
        color: blue;
        background-color: grey;
    }
}

.bottom {
    align-self: flex-end;
    transform: rotate(180deg);
    transform: rotate(180deg);
}

.content {
    display: flex;
    align-items: center;
}

p {
    margin: 0px;
    font-size: 24px;
}

h1 {
    text-align: center;
    font-family: monospace;
}
