.table{
    display: flex;
    padding: 16px;
    border: 1px red dashed;
    background-color: darkgreen;
    min-width: 120px;
    min-height: 75px;
}

.playerHand {
    display: flex;
    padding: 16px;
    border: 1px green dashed;
    background-color: maroon;
    min-width: 142px;
    min-height: 78px;
    margin-right: 48px;
}

.playerPile {
    display: flex;
    padding: 16px;
    border: 1px green dashed;
    background-color: sienna;
    min-width: 60px;
    min-height: 78px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}
