.field {
    display: flex;
    padding: 16px;
    margin-top: 50px;
    border: 1px red dashed;
    background-color: darkgreen;
}

.playerHand {
    display: flex;
    padding: 16px;
    border: 1px green dashed;
    background-color: maroon;
}

.playerPile {
    display: flex;
    padding: 16px;
    border: 1px green dashed;
    background-color: sienna;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}
